<h1 appTitulos20 class="text-center">
    LISTADO ALUMNOS
</h1>

<div class="container" style="padding-top: 30px;">
    <div>
        <button mat-raised-button color="primary" class="btn" (click)="abrirFormAlumno()">
            <mat-icon>add</mat-icon>
            Agregar
        </button>
    </div>


    <div class="row" style="padding-top: 20px;">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Legajo">
                <th mat-header-cell *matHeaderCellDef>Legajo</th>
                <td mat-cell *matCellDef="let element">{{element.legajo}}</td>
            </ng-container>
            <ng-container matColumnDef="Nombre y Apellido">
                <th mat-header-cell *matHeaderCellDef>Nombre y Apellido</th>
                <td mat-cell *matCellDef="let element">{{element | nya}}</td>
            </ng-container>
            <ng-container matColumnDef="Clase">
                <th mat-header-cell *matHeaderCellDef>Clase</th>
                <td mat-cell *matCellDef="let element">{{element.curso.clase.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="Curso">
                <th mat-header-cell *matHeaderCellDef>Curso</th>
                <td mat-cell *matCellDef="let element">{{element.curso.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="Turno">
                <th mat-header-cell *matHeaderCellDef>Turno</th>
                <td mat-cell *matCellDef="let element">{{element.curso.turno}}</td>
            </ng-container>
            <ng-container matColumnDef="Acciones">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" (click)="editarAlumno(element)">
                            <mat-icon>edit</mat-icon> 
                        </button>
                    <button mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="col">

            </tr>
            <tr mat-row *matRowDef="let row; columns: col">

            </tr>
        </table>
    </div>
</div>